<h2>Generate twinkle build</h2>
<form method="get" action="/build">
    <div>
        <label for="repo">GitHub repo</label>
        <input type="text" id="repo" name="repo" size="80px" value="wikimedia-gadgets/twinkle-starter">
    </div>
    <div>
        <label for="commit">Commit hash or ref</label>
        <input type="text" id="commit" name="commit" value="HEAD">
    </div>
    <button type="submit">Submit</button>
</form>
